:root {
  --font-family: sans-serif;
  --ih-primary-color-1: #112D4E;
  --ih-primary-color-2: #3F72AF;
  --ih-primary-color-3: #DBE2EF;
  --ih-primary-color-4: #F9F7F7;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #181818;
    color: white;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background-color: #F9F7F7;
    color: black;
  }
}